* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navHeader{
  margin-top: 10px;
  line-height: 0.4;
}
.jannat-edit{
  font-size: 40px;
  font-family: "Chokokutai", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.pg-font{
  font-size: 20px;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  line-height: 0.01;
  font-style: normal;
}

@media  only screen and (max-width:490px) {
  .jannat-edit{
    font-size: 24px;
  }
  .carousel-item.slide-height {
    height: 400px !important; 
  } 
}

@media only screen and (min-width: 491px){
  .carousel-item.slide-height {
    height: 550px !important; /* Set your desired height */
  }
}
.slant-line {
  display: block;
    position: absolute;
    top: 0px;
    width: 0;
    height: 0;
     border-top: 63px solid rgb(155, 218, 245);
    border-left: 60px solid white;
  }
  .btop{
    border-top: 5px solid rgb(155, 218, 245);
  }
  .custom-bg{
    background-image: radial-gradient( circle farthest-corner at 46% 87.5%, rgba(177,232,248,1) 13.3%, rgba(49,75,125,1) 89.7% );

  }
  .customFont{
    text-decoration: none;
    color: black;
    font-family: Agency;
    font-size: 18px;
  }

  .carousel-item{
    height:20rem;
  }
  @media only screen and (max-width:1023px) {
    .slant-line {
      display: none;
    }
  }
  @media only screen and (min-width:1024px) {
    .slant-line {
      display: flex;
    }
  }
  @media only screen and (min-width:1024px) and (max-width: 1205px){
    .slant-line{
      left: 335px;
    }
  }
  
  @media only screen and (min-width:1206px) and (max-width: 1387px){
    .slant-line{
      left: 400px;
    }
  }
   @media only screen and (min-width:1388px) and (max-width: 1582px){
    .slant-line{
      left: 464px;
    }
  } 
  
  @media only screen and (min-width:1583px){
    .slant-line{
      left: 500px;
    }
  } 
  .button-border{
    border-radius: 20%;
    border: 1px solid info;
    height: 45px;
    white-space: nowrap; 
  }
  .nav-link{
    font-family: bold;
    font-size: 21px;
  }
  .card {
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
.bi-check{

  margin-right: 20px;
  font-family: bold;
  font-style: bold;
  font-size: 25px;
}  

@media only screen and (max-width: 768px) {
  .large-screen-image {
    display: none;
  }
  .small-screen-image {
    display: block;
  }
}

@media only screen and (min-width: 769px) {
  .large-screen-image {
    display: block;
  }
  .small-screen-image {
    display: none;
  }
}
@media only screen and (min-width:769px) and (max-width:849px){
  .size{
    width:350px;
  }
}
@media only screen and (min-width:850px) and (max-width:965px){
  .size{
    width:400px;
  }
}
@media only screen and (min-width:966px) and (max-width:1077px){
  .size{
    width:450px;
  }
}
@media only screen and (max-width: 500px) {
  .md-screen {
    display: none;
  }
}
@media only screen and (min-width: 767px) {
  .md-screen {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .lg-screen {
    display: none;
  }
}
.ddrk {
  transition: background-color 1.3s ease; /* Transition effect for background color */
}

.ddrk:hover {
  background-color: #2bc7df;
  border:hidden;
}
.custom-btn{
  height: 80px;
  font-size: 30px;
  border: none;
  background-color: orange;
}
.custom-dark-bg {
  background-color: #111111;
  background-image: linear-gradient(to bottom right, #111111, #000000);
}
.custom-orange-bg{
  background-color: #ff7f00;
  /* background-image: linear-gradient(to bottom right, #f7a308f7, #f7a408); */
}
.custom-font{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}

/* in faqs page*/
.custom-color{
  background-color: #f8cae1;
}
.custom-color.btn:focus,
.custom-color.btn:active,
.custom-color.btn:hover {
  background-color: #f8aed3
}

/*sidebar css style*/
.navbar-icon {
  display: block;
  cursor: pointer;
}

.navbar-icon::before {
  content: '\2630';
  font-size: 20px;
  background-color: grey;
  border-radius: 35%;
  padding: 3px;
  margin-right: 8px;
  color: black;
} 
@media only screen and (min-width:992px) {
  .navbar-icon{
    display:none;
  }
}

.side-bar {
  position: fixed;
  /* display: block; */
  width: 40%;
  /* height: 100%; */
  background-color:#000000;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;

}

.close-btn::before {
  content: '\2716';
  font-size: 24px;
  font-weight: lighter;
  color: white;
  font-weight: normal;
  cursor: pointer;
}


.close-btn {
  position: absolute;
  text-align: center;
  top: 10px;
  left: 10px;
  background-color: rgba(11, 10, 10, 0.896);
  border: none;
  padding: 5px;
}

.list-in-side {
  display: block;
  top: 4%;
  text-align: start;
  padding-top:3rem ;
  list-style: none;
  z-index: 1001;
}

.list-in-side ul {
  list-style: none;

}

.list-in-side li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.list-in-side ul li:hover {
  transform: scale(1.03);
  transition: all 1s;
}

.list-in-side ul li {
  padding: 8px;
}


.card-group-container {
  display: flex;
  justify-content: center;
}